.global-team
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-content: space-around
    padding-top: 15px
.header-table
    display: flex
    .search
        flex: 3
        padding-right: 15px
        .content-input
            width: 100%
            max-width: 350px
    .type-team
        flex: 1.5
        display: flex
        align-items: center
        justify-content: flex-end
        p
            margin: 0 15px 0 0
    .new-member
        width: 180px
        display: flex
        justify-content: flex-end
        align-items: center  
        button
            width: 130px
            background-color: #87c16d
            height: 40px
            color: #FFF
            text-transform: uppercase
            font-size: 11px
            font-weight: 600
.background
    width: 100%
    height: 100%
    position: fixed
    top: 0
    right: 0
    background-color: rgba(0,0,0,.6)
    z-index: 100
.box-new-member
    width: 420px
    height: 100%
    position: fixed
    top: 0
    right: 0
    background-color: #fff
    padding: 20px
    color: #999999
    z-index: 120
    .btn-close
        width: 25px
        height: 30px
        background-color: #FFF
        position: fixed
        top: 18px
        right: 420px
        border-radius: 3px 0 0 3px
        display: flex
        align-items: center
        justify-content: center
        font-size: 14px
        padding-bottom: 3px
        cursor: pointer
    h2
        font-size: 20px
        margin-bottom: 45px
    .input-new-members, .select-function
        width: 100%