<div>
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle><span class="title-table">Minha Equipe</span></ng-template>
      <ng-template ngbTabContent>
        <div class="header-table">
          <form class="search">
            <mat-form-field class="content-input">
                <input
                  matInput placeholder="Digite uma palavra chave e tecle enter para buscar"
                >
            </mat-form-field>
          </form>
          <div class="type-team">
            <p>Visualizar:</p>
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="1">Freelas
              </label>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="2">Usuários
              </label>
            </div>
          </div>
          <div class="new-member">
            <button
              mat-button
              class="style-button"
              (click)="openBoxNewMember()"
            >
              Novo Membro
            </button>
          </div>
        </div>
        <div class="global-team">
          <app-card-users
            *ngFor='let player of team; let i = index;'
            [player]="player"
            (click)="openBoxNewMember('update',i)"
          >
          </app-card-users>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><span class="title-table">Tab Item</span></ng-template>
      <ng-template ngbTabContent>
        Tabela Item 01
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><span class="title-table">Tab Item</span></ng-template>
      <ng-template ngbTabContent>
        Tabela Item 02
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><span class="title-table">Tab Item</span></ng-template>
      <ng-template ngbTabContent>
        Tabela Item 03
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><span class="title-table">Tab Item</span></ng-template>
      <ng-template ngbTabContent>
        Tabela Item 04
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <!-- TODO - Criar componente para este box de novos membros -->
  <div class="background" *ngIf="dispalayBlock" (click)="closeBoxNewMember()"></div>
  <div class="box-new-member" *ngIf="dispalayBlock">
    <div class="btn-close" (click)="closeBoxNewMember()">
      x
    </div>
    <h2>{{detailText}}</h2>
    <form (ngSubmit)="addMember()">
      <mat-form-field class="input-new-members">
          <input
            type="text"
            name="textName"
            matInput placeholder="Nome"
            (keyup)="infoName($event)"
            [value]="textName"
            required
          >
      </mat-form-field>
      <mat-form-field class="input-new-members">
          <input
            type="mail"
            name="textEmail"
            matInput placeholder="E-mail"
            (keyup)="infoMail($event)"
            [value]="textEmail"
            required
          >
      </mat-form-field>
      <mat-form-field class="select-function">
        <mat-select placeholder="Função de Trabalho" (selectionChange)="infoFunction($event)">
          <mat-option
            *ngFor="let function of functions"
            [value]="function.value"
            required
          >
            {{function.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-button
        type="button"
        class="style-button-new-member"
        (click)="member('create')"
        *ngIf="dispalayOptionCreate"
      >
        Criar membro da equipe
      </button>
      <button
        mat-button
        type="button"
        class="style-button-new-member"
        (click)="member('update')"
        *ngIf="dispalayOptionUpdate"
      >
        Editar membro da equipe
      </button>
    </form>
  </div>
</div>