.header-pages
    display: flex
    flex-wrap: nowrap
    align-items: center
    justify-content: space-between
    .current-page
        font-size: 20px
        color: #455a64
        text-transform: capitalize