<div id="menu-left">
  <div class="icon big"></div>
  <ul>
    <li routerLink="/tasks" routerLinkActive="active">
      <div class="icon"></div>
      <p>Tasks</p>
    </li>
    <li routerLink="/contents" routerLinkActive="active">
      <div class="icon"></div>
      <p>Contents</p>
    </li>
    <li routerLink="/setup" routerLinkActive="active">
      <div class="icon"></div>
      <p>Setup</p>
    </li>
  </ul>
</div>