#menu-left
    width: 104px
    height: 100vh
    position: fixed
    top: 0
    left: 0
    background-color: #FFF
    border-right: 1px solid #dcdddf
    display: flex
    justify-content: center
    flex-wrap: wrap
    align-content: flex-start
    padding: 30px 15px 0
    ul li
        cursor: pointer
        margin: 30px 0
        color: #b7b8ba
        text-transform: uppercase
        text-align: center
        position: relative
    li.active:after
        content: ''
        width: 2px;
        height: 100%;
        background-color: #000;
        position: absolute;
        top: 0
        right: -21px
        border-radius: 5px 0 0 5px
    .icon
        width: 25px
        height: 25px
        border-radius: 50%
        background-color: #acb1b4
        margin: 0 auto 15px
    .icon.big
        width: 40px
        height: 40px