.dropdown-header
    button
        background-color: transparent
        font-size: 13px
        color: #607d8b
        display: flex
        align-items: center
        border: none
        box-shadow: none
        &:active, &:focus
            border: none
            box-shadow: none
            outline: none
        &:active
            background-color: transparent
            color: #607d8b
            &:focus
                border: none
                box-shadow: none