<div ngbDropdown class="d-inline-block dropdown-header">
  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Olá, Thiago</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button class="dropdown-item">Action - 1</button>
    <button class="dropdown-item">Action - 2</button>
    <button class="dropdown-item">Action - 3</button>
  </div>
</div>