<div class="box-player">
  <div class="photo">
    <img [src]="player.photo">
  </div>
  <p class="player-name">{{player.name}}</p>
  <p class="player-email">{{player.email}}</p>
  <div class="icons">
    <ul>
      <li>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17" width="18" height="17">
            <style>
              tspan { white-space:pre }
              .shp0 { fill: #263138 } 
            </style>
            <path id="Path" class="shp0" d="M18,7.14c0,-0.95 -0.78,-1.73 -1.74,-1.73l-3.99,-0.06l0.37,-2.93c0,-0.99 -0.65,-2.43 -1.68,-2.43h-1.09l-0.56,2.95l-2.52,3.88c-0.27,0.37 -0.46,0.68 -0.6,0.96c-0.23,-0.26 -0.57,-0.42 -0.95,-0.42h-3.96c-0.71,0 -1.29,0.57 -1.29,1.28v6.07c0,0.71 0.58,1.28 1.29,1.28h3.96c0.52,0 0.97,-0.31 1.17,-0.76c0.38,0.41 0.93,0.66 1.53,0.66h6.55c0.96,0 1.74,-0.78 1.74,-1.73c0,-0.22 -0.04,-0.42 -0.12,-0.62c0.74,-0.21 1.27,-0.89 1.27,-1.66c0,-0.27 -0.07,-0.54 -0.19,-0.78c0.49,-0.32 0.79,-0.87 0.79,-1.45c0,-0.48 -0.2,-0.93 -0.55,-1.26c0.35,-0.33 0.55,-0.78 0.55,-1.26z" />
          </svg>
      </li>
      <li>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 21" width="16" height="21">
            <style>
              tspan { white-space:pre }
              .shp0 { opacity: 0.38;fill: #263138 } 
            </style>
            <path id="Shape" class="shp0" d="M12.5,6h-6c-0.28,0 -0.5,-0.22 -0.5,-0.5c0,-0.28 0.22,-0.5 0.5,-0.5h6c0.28,0 0.5,0.22 0.5,0.5c0,0.28 -0.22,0.5 -0.5,0.5zM12.5,4h-6c-0.28,0 -0.5,-0.22 -0.5,-0.5c0,-0.28 0.22,-0.5 0.5,-0.5h6c0.28,0 0.5,0.22 0.5,0.5c0,0.28 -0.22,0.5 -0.5,0.5zM13,7.5c0,0.28 -0.22,0.5 -0.5,0.5h-6c-0.28,0 -0.5,-0.22 -0.5,-0.5c0,-0.28 0.22,-0.5 0.5,-0.5h6c0.28,0 0.5,0.22 0.5,0.5zM13,9.5c0,0.28 -0.22,0.5 -0.5,0.5h-6c-0.28,0 -0.5,-0.22 -0.5,-0.5c0,-0.28 0.22,-0.5 0.5,-0.5h6c0.28,0 0.5,0.22 0.5,0.5zM10,11.5c0,0.28 -0.22,0.5 -0.5,0.5h-3c-0.28,0 -0.5,-0.22 -0.5,-0.5c0,-0.28 0.22,-0.5 0.5,-0.5h3c0.28,0 0.5,0.22 0.5,0.5zM16,0v11.99c0,1.99 -5.32,8.01 -7.85,8.01h-8.15v-20zM3.2,15c0,-0.46 -0.36,-0.83 -0.8,-0.83c-0.44,0 -0.8,0.37 -0.8,0.83c0,0.46 0.36,0.83 0.8,0.83c0.44,0 0.8,-0.37 0.8,-0.83zM3.2,5c0,-0.46 -0.36,-0.83 -0.8,-0.83c-0.44,0 -0.8,0.37 -0.8,0.83c0,0.46 0.36,0.83 0.8,0.83c0.44,0 0.8,-0.37 0.8,-0.83zM14.4,1.67h-9.6v16.67h2.69c3.32,0 2.11,-5 2.11,-5c0,0 4.8,1.38 4.8,-2.05z" />
          </svg>
      </li>
      <li>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 8" width="24" height="8">
            <style>
              tspan { white-space:pre }
              .shp0 { fill: #263138 } 
            </style>
            <path id="Shape" class="shp0" d="M24,0.71v1.46c-0.33,0.28 -1,0.45 -1,1.42c-0.01,3.83 -1.59,4.39 -4.6,4.4c-4.05,0 -4.6,-0.93 -5.27,-4.15c-0.15,-0.71 -0.51,-1.15 -1.12,-1.15c-0.61,0 -0.97,0.43 -1.12,1.15c-0.68,3.22 -1.22,4.15 -5.27,4.15c-3.01,-0.02 -4.6,-0.58 -4.6,-4.4c0,-0.97 -0.67,-1.14 -1,-1.42v-1.46c1.9,-0.38 4.18,-0.72 6.3,-0.72c3.24,0 3.52,0.93 5.7,0.92c2.18,0.01 2.46,-0.92 5.7,-0.92c2.12,0 4.4,0.33 6.3,0.72zM9.81,2.03c-0.4,-0.59 -1.59,-1.03 -3.51,-1.03c-4.3,0 -4.3,1.06 -4.3,2.57c0,2.86 0.77,3.41 3.61,3.43c3.61,0.03 3.74,-0.75 4.3,-3.42c0.15,-0.72 0.12,-1.24 -0.1,-1.56zM22,3.57c0,-1.52 0,-2.57 -4.3,-2.57c-1.92,0 -3.11,0.44 -3.51,1.03c-0.22,0.31 -0.25,0.84 -0.1,1.56c0.56,2.66 0.69,3.44 4.3,3.42c2.84,-0.02 3.61,-0.57 3.61,-3.43z" />
          </svg>
      </li>
      <li>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 4" width="20" height="4">
            <style>
              tspan { white-space:pre }
              .shp0 { fill: #263138 } 
            </style>
            <path id="Combined Shape" class="shp0" d="M2,4c1.1,0 2,-0.9 2,-2c0,-1.1 -0.9,-2 -2,-2c-1.1,0 -2,0.9 -2,2c0,1.1 0.9,2 2,2zM10,4c1.1,0 2,-0.9 2,-2c0,-1.1 -0.9,-2 -2,-2c-1.1,0 -2,0.9 -2,2c0,1.1 0.9,2 2,2zM18,4c1.1,0 2,-0.9 2,-2c0,-1.1 -0.9,-2 -2,-2c-1.1,0 -2,0.9 -2,2c0,1.1 0.9,2 2,2z" />
          </svg>
      </li>
    </ul>
  </div>
</div>
