.box-player
    width: 300px
    height: 200px
    background-color: #f8f9fa
    margin-right: 25px
    margin-bottom: 20px
    display: flex
    flex-wrap: wrap
    align-content: center
    justify-content: center
    .photo
        width: 64px
        height: 64px
        border-radius: 50%
        overflow: hidden
        margin-bottom: 10px
        img
            width: 64px
            height: 64px
    .player-name, .player-email
        width: 100%
        text-align: center
        margin-bottom: 4px
    .player-name
        font-size: 16px
        color: #000
    .player-email
        font-size: 12px
        color: #607d8b
    .icons
        margin-top: 20px
        ul li
            display: inline-block
            margin: 0 15px