@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
*
    margin: 0
    padding: 0
    font-family: 'Roboto', sans-serif
    font-size: 12px

body
    background-color: #f0f1f3

ul
    list-style: none

.tab-content
    padding-top: 25px

// Style Tabs ng-bootstrap
.nav-tabs .nav-item .nav-link
    color: #878b8e
    text-transform: uppercase
    font-size: 11px
    margin-right: 10px
    &:hover
        background-color: #e8e9eb
.nav-tabs .nav-link.active
    color: #67a949
    background-color: #f5f4f9
    border: none
    border-bottom: 1px solid #f5f4f9
    border-top: 2px solid #67a949
    &:hover
        background-color: #f5f4f9

// Style radio button ng-bootstrap
.btn-primary
    background-color: #f0f1f3
    border-color: #dadbdd
    color: #788c97
    text-transform: uppercase
    font-size: 12px
    padding: 5px 15px
    outline: none
    &:not(:disabled):not(.disabled).active, &:hover, &:active
        background-color: #f9f9f9 !important
        border: 1px solid #dadbdd !important
        color: #b8bdc0 !important
    &:focus
        box-shadow: none !important
.style-button-new-member
    background-color: #5f7bba
    color: #FFF
    float: right
    text-transform: uppercase
.modal-content
    height: 50px
    text-align: center
    display: flex
    justify-content: center